*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
   background: linear-gradient(to bottom, #160129,#47013e);  
   height: 100vh;
}
nav{
    background-image: url(imges/stars1.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
ul{
    list-style: none; 
}
ul:hover li a{
opacity: 0;

}

ul li{
    margin: 15px 0;
    text-align: center;

}
ul li::after{
    content: attr(data-text);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 50px; 
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px; 
}

ul li a{
    text-decoration: none;
color: #fff;
text-transform: uppercase;
font-size: 30px;
letter-spacing: 3px;
display: inline-block;
background-color: #7e01b8;
border-radius: 20px;
width: 200px;
transition: 0.5s;
font-weight: 500;
margin: 5px 0;
position: relative;
z-index: 100;
}
ul li a:hover{
    transform: scale(1.5);
    background-color: #d30062c2;
    opacity: 1;
}

ul li::before{
    content: "";
    width: 180px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,70%);
    border-radius: 50%;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
}
li:hover::before{
    width: 80px;
    opacity: 0.9;
}